name: Continuous Pre-Release

on:
  push:
    branches:
      - dev

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: dev
          fetch-depth: 0

      - name: Set Up Java
        uses: actions/setup-java@v3.12.0
        with:
          distribution: oracle
          java-version: 17
          cache: gradle

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install Dependencies
        run: flutter pub get

      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/keystore.jks

      - name: Create key.properties
        run: |
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=keystore.jks" >> android/key.properties

      - name: Build APK
        run: flutter build apk --release

      - name: Build split APKs
        run: flutter build apk --release --split-per-abi

      - name: Get Last Commit on Previous Release
        id: last_release
        run: |
          LAST_RELEASE_TAG=$(gh release view continuous --json tagName -q .tagName 2>/dev/null || echo "")
          echo "last_release_tag=$LAST_RELEASE_TAG" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get commit changelog since last continuous release
        id: changelog
        run: |
          if [[ -z "${{ steps.last_release.outputs.last_release_tag }}" ]]; then
            COMMITS=$(git log --pretty=format:"* %h %s" HEAD)
          else
            COMMITS=$(git log ${{ steps.last_release.outputs.last_release_tag }}..HEAD --pretty=format:"* %h %s")
          fi
          echo "body<<EOF" >> $GITHUB_OUTPUT
          echo "$COMMITS" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create/update release
        uses: ncipollo/release-action@v1
        with:
          tag: continuous
          commit: dev
          name: Continuous Release
          prerelease: true
          allowUpdates: true
          body: ${{ steps.changelog.outputs.body }}
          draft: false
          artifacts: |
            build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
            build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
            build/app/outputs/flutter-apk/app-x86_64-release.apk
            build/app/outputs/flutter-apk/app-release.apk

