name: Lint code on PR

on:
  pull_request:
    types: [synchronize]
  push:
    branches:
      - main
      - dev

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - run: flutter pub get

      - name: Analyze code
        uses: zgosalvez/github-actions-analyze-dart@v2
        with:
          fail-on-warnings: true
