name: Check Flutter Version Increment on PR

on:
  pull_request:
    types: [opened, synchronize]
    branches: main

jobs:
  version-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Get current version from pubspec.yaml
        id: current_version
        run: |
          current_version=$(grep '^version: ' pubspec.yaml | awk '{print $2}' | sed 's/+.*//')
          echo "Current version is $current_version"
          echo "current_version=$current_version" >> $GITHUB_ENV

      - name: Fetch latest tag
        id: latest_tag
        run: |
          latest_tag=$(gh release list --json name,isLatest --jq '.[] | select(.isLatest)|.name')
          echo "Latest tag is $latest_tag"
          echo "latest_tag=$latest_tag" >> $GITHUB_ENV

      - name: Get version from latest tag
        id: tag_version
        run: |
          tag_version=$(echo $latest_tag | sed 's/^v//')
          echo "Version from latest tag is $tag_version"
          echo "tag_version=$tag_version" >> $GITHUB_ENV

      - name: Compare versions
        id: version_check
        run: |
          if [ "$current_version" = "$tag_version" ]; then
            echo "Version number has not increased!"
            exit 1
          fi
          if [[ $(printf '%s\n' "$current_version" "$tag_version" | sort -V | head -n1) == "$current_version" ]]; then
            echo "Current version is lower than the latest tag!"
            exit 1
          else
            echo "Version number has increased."
          fi

      - name: Success message
        if: success()
        run: echo "Version check passed! Version has increased from the latest tag."
